
    <div *ngIf="jugador" class="card tarjeta-detalles mt-4">
        <div class="card-body">
            <h2 class="card-title border-bottom text-center p-2 rounded text-dark">{{ jugador.nombre }}</h2>
            <p class="card-text fw-bold ">Apellidos: <span class="fw-normal">{{ jugador.apellidos }}</span></p>
            <p class="card-text fw-bold ">Posición: <span class="fw-normal">{{ jugador.posicion }}</span></p>
            <p class="card-text fw-bold ">Edad: <span class="fw-normal">{{ jugador.edad }} años</span></p>
            <p class="card-text fw-bold ">Altura: <span class="fw-normal">{{ jugador.altura }} metros</span></p>
        </div>
    </div>

    
    
  
 

    
  