<div class="card">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <label>Elige opcion de busqueda de tu jugador</label>
            </div>
            <div class="col-sm-1">
                <select name="opcion" [(ngModel)]="opcion">
                    <option value="Nombre" selected>Nombre</option>
                    <option value="Posición">Posición</option>
                    <option value="Edad">Edad</option>
                  </select>
            </div>
            <div class="col-sm-2">
                <input  type="text" placeholder="Jugador"  name="filterSearch"   [(ngModel)]="filterSearch" (ngModelChange)="mostrarJugadores($event)"  >
            </div>
          </div>
    </div>
</div>

<section class="container" >
    <div class="row">
        <div *ngFor="let player of players | nameFilter:filterSearch:opcion">
            <article class="col-sm-6 col-md player-item" >
                <img src="{{player.img}}" />
                <h3>{{player.nombre}} </h3>
                <p>Posición: {{player.posicion}}</p>
                <p>Edad: {{player.edad}}</p>
                <button [routerLink]="['player', player.id]" class="btn btn-primary">Ver detalle</button> 
            </article>
        </div>
    </div>
</section>

 <section  *ngIf="mostrarPlayers" class="container">
    <div class="row">
        @for (player of players; track player.id)
        {
            <article class="col-sm-6 col-md player-item" >
                <img src="{{player.img}}" />
                <h3>{{player.nombre}}</h3>
                <p>Posición: {{player.posicion}}</p>
                <p>Edad: {{player.edad}}</p>
                <button [routerLink]="['player', player.id]" class="btn btn-primary">Ver detalle</button> 
            </article>
        }
    </div>
</section>
